._hero {
  width: $per;
  height: $vh;
  position: $re;
  background-image: url("/bg_hero.jpg");
  background-position: $c;
  background-size: $cv;
  display: $f;
  justify-content: $c;
  align-items: $c;
  visibility: $h;

  &_child {
    width: 80%;
    display: $f;
    justify-content: $c;
    align-items: $c;
    flex-direction: $cl;
    h1 {
      font-family: $po;
      color: #fff;
      font-weight: $b;
      font-size: 6em;
    }
    p {
      font-weight: $b;
      font-family: $ro;
      font-size: 2em;
      margin-top: 0;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 800px) {
  ._hero {
    &_child {
      width: $per;
      display: $f;
      justify-content: $c;
      align-items: $c;
      flex-direction: $cl;
      text-align: $c;
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.4em;
      }
    }
  }
}
